.game-container {
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.disclaimer {
  color: white;
  font-size: 36px;
  position: absolute;
  top: 25%;
  left: 50%;
}