.App {
  text-align: center;
  min-height: 100vh;
  background-color: #000000;
  display: flex
}

.button-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 100px;
  height: 40px;
}